Please check that your Python version is 3.10+

In [ ]:
!python --version

Python 3.10.11

If not, upgrade your Python version with terminal or Conda. (It is so easy to Google it, if you don't know how)

Or you can use Google Colab, which has the newest version of Python.

# Lesson 2. Numbers and Conditionals

Today we are going to study the numbers and conditionals in Python 3.10

## Theory

What basic kinds of numbers do we have? That's right, whole numbers and fractional numbers. Let's look at them

### Numbers

**Integer**

In [ ]:
my_int = 10
print(f"value: {my_int}\ntype: {type(my_int)}")

value: 10
type: <class 'int'>

**Fractions (Double or Float)**

In [ ]:
my_float = 9.5
print(f"value: {my_float}\ntype: {type(my_float)}")

value: 9.5
type: <class 'float'>

Note that division of ints produces float

In [ ]:
6/2

3.0

Also beware of the binary floating-point pitfalls (we will deal with it later)

In [ ]:
val = 0.1 + 0.1 + 0.1
print(val == 0.3)
print(val)

False
0.30000000000000004

**Floor division //, modulus % and power**

In [ ]:
print(6 // 3)
print(7 // 5)

2
1

In [ ]:
10 % 6 # 10 - 6 * 1 = 4

4

In [ ]:
2 ** 3

8

As we have mentioned earlier, there are some problems with dealing with decimals. So, there is a special library called Decimal, which helps us to avoid all the problems

**decimal.Decimal**

In [ ]:
from decimal import Decimal

from_float = Decimal(0.1) # we can convert from float
from_str = Decimal("0.1") # or from string

sum_of_str = from_str + from_str + from_str
sum_of_float = from_float + from_float + from_float

print(sum_of_str == Decimal("0.3"))
print(sum_of_float == Decimal(0.3))
print(sum_of_float)

True
False
0.3000000000000000166533453694

As we can see, the best way to add decimals is to convert them from string

### Conditionals

Let's introduce new type of variable: **bool**. Bool is a logical variable which can be either True or False.

In [ ]:
print(bool(1))
print(bool(0))
print(bool(5))

True
False
True

As we can see, if int is 0, then bool variable is **False**, otherwise it is **True**.

**==, !=, <, >, <=, >=**

All of those are made to compare variables. 


*   Is equal to - ==
*   Is NOT equal to - !=
*   Less than - <
* More than - >
* Less or equal - <=
* More or equal - >=

In [ ]:
print(2 > 1)
print(2 < 1)
print(2 == 1)
print(2 != 1)

True
False
False
True

However, we can compare not only numbers, but strings (or letters)

In [ ]:
print("hello" == "Hello")
print("world" == "world")
print('a' < 'b')
print('A' != 'a')

False
True
True
True

Comparing the chars or strings is **case-sensitive**. And to know what result will exactly be, look at the ASCII characters table

You can even combine different compartions in one row.

In [ ]:
1 < 2 < 3

True

**and, or, not**

I guess you have no problems with the beginning of Discrete Mathematics course, so you will understand the following piece of code in seconds

In [ ]:
always_true = True
not_true = False
print(always_true and not_true) # True and False == False
print(always_true or not_true) # True or False == True
print(not not_true) # not False == True

False
True
True

Now we are ready to start talking about Conditionals. We have basic if, elif (else if), else

However, there is a new option for you. Match-case! (Only working at Python3.10+)

In [ ]:
one = 1
two = 2

'''
this is how we input integers
you can change int into Decimal or float
'''
num = int(input()) 

if num == 1:
  print("You have entered 1!")
elif num == 2:
  print("You have entered 2!")
else:
  print("Your number is NOT 1 or 2")

match num:
  case 1:
    print("Yes, it is 1 for sure")
  case 2:
    print("No hesitation, it's 2")
  case _:
    print("Why did you write it?")

5
Your number is NOT 1 or 2
Why did you write it?

I guess, there is no need to comment what is happening, just examine it

We can see, that

```
case _:
```
and

```
else:
```
are the same

However, it is not mandatory to write (else) or (case _).

## Practice

### 1. Formula

Write the following formula in Python, handling all cases. If answer is uncertain, return -1
\begin{align}
 result = 6a^3 - \frac{8b^2 }{4c} + 11
\end{align}

In [ ]:
def formula(a, b, c):
  result = # your code here
  return result

Check

In [ ]:
assert formula(2, 3, 2) == 50
assert formula(2, 1, 0) == -1
assert formula(0, 0, 1) == 11

### 2. Name Length

Fill missing pieces (____) of the following code such that prints make sense.

In [ ]:
def len_name(name):
  if ____:
    print(f'Name "{name}" is more than 20 chars long')
    length_description = 5
  elif ____:
    print(f'Name "{name}" is more than 15 chars long')
    length_description = 4
  elif ____:
    print(f'Name "{name}" is more than 10 chars long')
    length_description = 3
  elif ____:
    print(f'Name "{name}" is 8, 9 or 10 chars long')
    length_description = 2
  else:
    print(f'Name "{name}" is a short name')
    length_description = 1
  return length_description

Check

In [ ]:
assert len_name("Python") == 1
assert len_name("lalalalalalalalalblablabla") == 5
assert len_name("Skryptonite") == 4
assert len_name("sammooree") == 2

### 3. Absolute value

Write a program which returns absolute value of x

In [ ]:
def abs_of_x(x):
  # your code here
  return x

Check

In [ ]:
assert abs_of_x(1) == 1
assert abs_of_x(-1) == 1
assert abs_of_x(0) == 0

### 4. Quadrant

Determine which quadrant in the Cartesian coordinate system the point belongs to.


Asign answer **I, II, III or IV** to the **ans** variable

In [ ]:
def quadrant(x, y):
  # your code here
  return ans

Check

In [ ]:
assert quadrant(1, 1) == "I"
assert quadrant(1, -1) == "IV"
assert quadrant(-1, 1) == "II"
assert quadrant(-1, -1) == "III"