# Welcome to the DSBA Introduction to Programming: Python course!
You will learn not only the basics of Python programming, but also some useful libraries that you will need in the future.

Let's begin by examining strings and their methods

## Theory

### String

In order to declare a string, we have to think of the name for it and what information it will contain. Let the name be ***my_string*** and it will contain ***Hello, world!***

Keep in mind that 

*   A variable name must start with a letter or the underscore character;
*   A variable name cannot start with a number
*  A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

And also, every string information should be in **quotation marks**

In [ ]:
my_string = "Hello, world!"

In Jupyter Notebooks, we can just write the name of the variable in order to print the information it contains. Note that Jupyter Noteboook will return only the last called variable.


```
hello_string = "Hello"
world_string = "world!"
hello_string
world_string
```
So, Jupyter Notebook will return only world_string
```
'world!' 
```

In [ ]:
my_string

'Hello, world!'

If you are not sure about the type of the variable, you can easily it check with *type()* function

* str - string
* int - integer
* float - double
* etc.

In [ ]:
type(my_string)

str

You can also find out how long your string is with the *len()* function

In [ ]:
len(my_string)

13

Note that all inputs are string!

In [ ]:
s = input()
print(type(s))

### Respecting [PEP8](https://www.python.org/dev/peps/pep-0008/#maximum-line-length) with long strings

In [ ]:
long_story = (
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    "Pellentesque eget tincidunt felis. Ut ac vestibulum est."
    "In sed ipsum sit amet sapien scelerisque bibendum. Sed "
    "sagittis purus eu diam fermentum pellentesque."
)
long_story

'Lorem ipsum dolor sit amet, consectetur adipiscing elit.Pellentesque eget tincidunt felis. Ut ac vestibulum est.In sed ipsum sit amet sapien scelerisque bibendum. Sed sagittis purus eu diam fermentum pellentesque.'

### Other functions and methods

In addition to the *len()* function, there are also the following basic functions

| Function or method | Description                     |
|--------------------|---------------------------------|
| S1 + S2            | Concatenation (string addition) |
| S1 * 5             | String repetition               |
| S1[i]              | Index reference                 |
| S1[i:j:step]       | Cut Extraction                  |

In [ ]:
s1 = "I love Python "
s2 = "and DSBA"

In [ ]:
s1 + s2

'I love Python and DSBA'

In [ ]:
s1 * 5

'I love Python I love Python I love Python I love Python I love Python '

In [ ]:
s1[0]

'I'

In [ ]:
s1[0:6:2]

'Ilv'

However, the step is not neccesary to use. If you need only the cut, you can do the following

Code:
```
s1[1:5]
```
Output:
```
' lov'
```

Keep in mind, that all indices **start with 0** and it will **cut to j-1**

You can also use the negative indices, and it will start from the end.

Code:
```
s2[-1]
```
Output:

```
'A'
```

In [ ]:
s2[::-1] # this is how we reverse the string

'ABSD dna'

More useful functions and methods you can find by following [this](https://pythonworld.ru/tipy-dannyx-v-python/stroki-funkcii-i-metody-strok.html) link

### f-string

Suppose you you want to print your First name and your Last name. Of course, you can simply use:

```
print("My name is John Doe. I'm 88 years old")
```
But what if you have changing variable? Or, what if tommorow is your birthday? In order not to change all the string, we can use **f-string**

In [ ]:
first_name = "John"
last_name = "Doe"
age = 88
print(f"My name is {first_name} {last_name}, you can call me {first_name}.")
print(f"I'm {age} years old.")

My name is John Doe, you can call me John.
I'm 88 years old.

In [ ]:
print(f"Use '=' to also print the variable name like this: {age=}")

Use '=' to also print the variable name like this: age=88

### s.split()

Sometimes we need to split the given string to words. How we can easily do this? By using *split()* method

In [ ]:
sentence = "three different words"
words = sentence.split()
print(words)

['three', 'different', 'words']

split() from string makes list of the words by space delimiter but if the we need to split it by comma?

In [ ]:
type(words)

list

In [ ]:
secret_binary_data = "01001,101101,11100000"
binaries = secret_binary_data.split(',')
print(binaries)

['01001', '101101', '11100000']

### Calling multiple methods in a row

In [ ]:
ugly_mixed_case = "   ThIS LooKs BAd "
pretty = ugly_mixed_case.strip().lower().replace("bad", "good")
print(pretty)

this looks good

Note that execution order is from left to right. Thus, this won't work as expected:

In [ ]:
pretty = ugly_mixed_case.replace("bad", "good").strip().lower()
print(pretty)

this looks bad

## Exercises

### 1. Fill missing pieces

Fill ____ pieces below to have correct values for ***lower_cased***, ***stripped*** and ***stripped_lower_case*** variables.

In [ ]:
original = " Python strings are COOL! "
lower_cased = original._____
stripped = ____.strip()
stripped_lower_cased = original._____._____

Let's verify that the implementation is correct by running the cell below. assert will raise AssertionError if the statement is not true.

In [ ]:
assert lower_cased == " python strings are cool! "
assert stripped == "Python strings are COOL!"
assert stripped_lower_cased == "python strings are cool!"

### 2. Prettify ugly string

Use str methods to convert ugly to wanted pretty.

In [ ]:
ugly = " tiTle of MY new Book\n\n"

pretty =
# Your Code

In [ ]:
print(f"pretty: {pretty}")
assert pretty == "Title Of My New Book"

### 3. All odd letters

Print all letters with odd indices and capitalize them

In [ ]:
name = "James"
odd_letters = # your code

In [ ]:
assert odd_letters == "JMS"

###  4. Append new string in the middle of a given string

Given two strings, s1 and s2. Write a program to create a new string s3 by appending s2 in the middle of s1.

In [ ]:
s1 = "Ault"
s2 = "Kelly"
mid_of_s1 = int(len(s1) / 2)
s3 = # Your Code

In [ ]:
assert s3 == "AuKellylt"